.passwordRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textarea {
  padding: 8px 12px;
  font-size: 15px;

  border-radius: 10px;
  border: 1px solid #ccc;

  resize: vertical;
  min-height: 70px;
}

.saveButton {
  margin-top: 12px;
}
.input,
.textarea,
.passwordRow {
  margin-bottom: 12px;
}
